#emas-credits-viewlet {
    float: right;
    font-size: 80%;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
    z-index: 5;
}

table.credit-purchase-table td,
table.credit-purchase-table th {
    padding-right: 0.5em;
}
