body {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    text-align: left;
    color: #333;
    font-size: 1.2em;
    padding: 0;
    margin: 0;
}

* ul, ol {
    list-style: none outside none;
}
* li {
    display: inline;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    color: #111;
}

td, th {
    padding: 0.5em 1em;
    vertical-align: top;
    line-height: 1em;
}

#header {
    background-color:#efefef;
    color: #000000;
    width: 100%;
}

#navbar {
    background-color: #008fb4;
    padding: 10px;
    width: 100%;
}

#login {
    margin-top: 40px;
    float: right;
}

.sitetitle {
    font-family: "Montserrat", "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 100%;
}

#sitetitletop {
    padding: 0.7em 0 0;
    font-size: 2.6em;
}
#sitetitletop a {
    color: #bbb;
}
#sitetitlebottom {
    font-size: 2.6em;
    letter-spacing: 10px;
}
#sitetitlebottom a {
    color: #111;
}
#belowtitle {
    color: #008fb4;
    font-size: 0.7em;
    padding-left: 0.4em;
    padding-bottom: 2em;
    letter-spacing: 3px;
}

.fixedwidth {
    margin: auto;
    max-width: 800px;
}

#personalbar {
    background-color: #ddd;
    height: 30px;
}

#personal-tools-wrapper {
    float: right;
}
#portal-personaltools {
    background: transparent;
    font-size: 70%;
    padding: 0.5em 0 0;
}

#logo {
    float: right;
    padding: 2.5em 0 0;
    margin-bottom: 1em;
}
#sitelogo {
    padding: 1em 0;
}

#portal-globalnav {
    clear: none;
    background: #008fb4;
    margin: 0;
}
#portal-globalnav li a {
    background: #008fb4;
    border: none;
    color: white;
    padding: 0 2em 0 0;
    min-width: 0;
}
#portal-globalnav li.selected a,
#portal-globalnav li.selected a:hover,
#portal-globalnav li a:hover {
    background: #008fb4;
    color: white;
}

#portal-searchbox {
    background: url("../images/searcharea.png") no-repeat scroll 0 0 transparent;
    height: 34px;
    margin-top: -27px;
    padding: 0;
    text-align: right;
    text-transform: none;
    white-space: nowrap;
    width: 240px;
}
#globalnav form {
    margin: 0;
    padding: 0;
}
#portal-searchbox input.searchButton {
    background: url("../images/searchicon.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    float: left;
    font-size: 0;
    height: 34px;
    margin: 0;
    padding: 0;
    width: 25px;
}
#searchGadget {
    border: medium none;
    height: 18px;
    margin-right: 10px;
    margin-top: 8px;
    padding: 0;
    width: 200px;
}

#portal-breadcrumbs {
    margin: 1em 0.7em;
    white-space: nowrap;
}

#content {
    margin: 1.5em auto;
    max-width: 780px;
}

#content div.navigation {
    margin: -2.8em 0 0;
    max-width: 800px;
    float: right;
}

.navbutton {
    opacity: 0.25;
    display: inline-block;
    margin-top: 5px;
    height: 17px;
    padding: 0 2px;
    width: 29px;
    border: 1px solid #ccc;
    border-radius: 2px;
    width: 27px;
    height: 27px;
}
.navback {
    background-image: url("../images/combined_v35_vr.png");
    background-position: -243px -25px;
}
.previous {
    opacity: 1;
}
.navforward {
    background-image: url("../images/combined_v35_vr.png");
    background-position: -241px -3px;
}
.next {
    opacity: 1;
}
.navtoc {
    opacity: 1;
    background-image: url("../images/combined_v35_vr.png");
    background-position: -242px -61px;
}


#content h1 {
    border-bottom: 2px solid #ddd;
    clear: both;
    margin: 4px 0 0;
    line-height: 125%;
}

#content p, #content div, #content dd, #content dt {
    line-height: 1.55em;
    margin: 1.2em 0;
}

#content table {
    border-collapse: collapse;
    border-spacing: 0;
    text-align: left;
}

#content pre {
    background-color: #ccc;
}

#content pre.space {
    background-color: white;
    display: inline;
    padding: 0;
}
#content .documentDescription, #content #description {
    font: bold 1.25em "Helvetica Neue", Arial, Helvetica, sans-serif;
}

#content .annotator-adder {
    margin-left: -25px;
    margin-top: -41px;
    font-size: 10px;
    line-height: 1;
}

#content-core img {
    border: 1px dotted black;
}

#content #table-of-contents {
    margin-left: 1em;
}

#content #table-of-contents div {
    margin: 0;
}

#footer {
    color: #000000;
    border-top: 1px solid #ccc;
    height: 140px;
    white-space: nowrap;
}
#footer div.logo {
    margin: 30px 40px;
    float: left;
}


.shortcode-content {
    background-color: #f5f5f5;
    padding: 0 1em;
}

.shortcode-content label.formQuestion {
    font-weight: bold;
}

.shortcode-content .answer {
    border-bottom: 1px solid #ccc;
}

#content .table {
    margin: 1.5em 0;
    text-align: center;
    width: 100%;
}
#content .table table,
#content .table table td,
#content .figure table td {
    text-align: center;
    margin: auto;
}

#content .figure table {
    width: 100%;
}

table.plain th, table.plain td {
    border: 1px solid #DDDDDD;
}

.equation {
    margin: .5em 0 1em;
    position: relative;
}

.equation-number {
    position: absolute;
    top: 50%;
    right: 0;
}

.table-text {
    text-align: left;
    line-height: normal;
    padding-top: .3em;
}

#content .solution {
    margin: .5em 0 .5em 3em;
}
